---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: doggy-frictions
  namespace: default
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: '{{range .Changed.Objects}}{{println .}}{{end}}'
    push:
      branch: main
  update:
    strategy: Setters
