---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: doggy-frictions
  namespace: default
spec:
  imageRepositoryRef:
    name: doggy-frictions
    namespace: default
  policy:
    semver:
      range: ">=0"
